﻿@model SearchEngineOptimisation.Models.SEOInputInput

@{
    ViewData["Title"] = "SEO";
}

<h1>Search Engine Optimization</h1>


<div class="row">
    <div class="container col-md-12">

        <div col-md-6>
            <div class="form-group">
                <label class="col-md-3 control-label"> Search Engine</label>
                <div class="col-md-8">
                    <select id="ddlsearchengine" class="form-control">
                        <option value="0">Select Search Engine</option>
                        @foreach (var engine in Model.searchEngines)
                        {
                            <option value="@engine.ID">@engine.SEOName</option>
                        }
                    </select>

                </div>
            </div>
        </div>
        <div col-md-6>
            <div class="form-group">
                <label class="col-md-3 control-label">Search Range</label>
                <div class="col-md-8">
                    <select id="ddlsearchrange" class="form-control">
                        <option value="0">Select Search Range</option>
                        @foreach (var range in Model.searchRanges)
                        {
                            <option value="@range.ID">@range.SEORange</option>
                        }
                    </select>

                </div>
            </div>
        </div>
        <div col-md-6>
            <div class="form-group">
                <label class="col-md-3 control-label">Key Search</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="keyseo" id="keyseo" />
                </div>
            </div>
        </div>
        <div col-md-6>
            <div class="form-group">
                <label class="col-md-3 control-label">Search</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="find" id="find" />
                </div>
            </div>
        </div>
        <div col-md-6>
            <div class="form-group">
                <label class="col-md-3 control-label">Search Engine Optimization</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="seo" id="seo" readonly="readonly" />

                </div>
            </div>
        </div>
        @*<div>
            <img src="~/images/LoadingImage.gif" id="imageload" style="display:none" />
        </div>*@

    </div>
</div>
@*<div class="modal">
    <img src="~/images/LoadingImage.gif" id="imageload"   />
</div>*@

<div id="divLoading" class="modal" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.8); z-index: 30001; opacity: 0.8;">
    <p style="position: absolute; color: White; top: 50%; left: 45%;">
        Loading, please wait...
        <img src="~/images/LoadingImage.gif">
    </p>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            //On pageload to search 1st 50 Search URLS retruned from the URL
            var rangesearch  = $("#ddlsearchrange").val("2").change();
            var enginesearch = $("#ddlsearchengine").val("1").change();
            var keysearch = $("#keyseo").val('e-settlements');
            var findranking = $("#find").val('www.sympli.com.au');

            var range = $("#ddlsearchrange option:selected").text();
            var searchengine = $("#ddlsearchengine option:selected").text();
            var key = $("#keyseo").val();
            var find = $("#find").val()

            //to get SEO results from https://
            Ranking(range, searchengine, key, find);

            // when search engine dropdown is changed

            $("#ddlsearchengine").change(function () {
                debugger;
                var changerange  = $("#ddlsearchrange option:selected").text();
                var changeengine = $("#ddlsearchengine option:selected").text();
                var key = $("#keyseo").val();
                var find = $("#find").val()
                Ranking(changerange, changeengine, key , find);

            });

            // when search range dropdown is changed
            $("#ddlsearchrange").change(function () {
                debugger;
                var changerange  = $("#ddlsearchrange option:selected").text();
                var changeengine = $("#ddlsearchengine option:selected").text();
                var key = $("#keyseo").val();
                var find = $("#find").val()
                Ranking(changerange, changeengine , key, find);

            });

            //function to get ranking of search engine
            function Ranking(range, engine, key) {
                debugger;
                 $("#divLoading").show();
                // to call the controller to load ranking
                $.ajax({

                type: "GET",
                dataType : "json",
                contentType: "application/json",
                url: "/SearchEngine/GetRanking", // the URL of the controller action method
                data: {
                    range:  range,
                    searchengine: engine,
                    keyword: key,
                    findwebsite:find
                },// optional data
                success: function (result) {
                    debugger;
                    $("#seo").val(result);
                    $("#divLoading").hide();
                },
                error: function (result) {
                    if (result = "") {
                        alert("we could not find Sympli.com.au in" + searchengine +". Please select another search engine")
                    }


                }
            });
            }

        });
        //$body = $("body");

        //$(document).on({
        //    ajaxStart: function () {
        //        $body.addClass("loading");
        //         },
        //     ajaxStop: function() { $body.removeClass("loading"); }    
        //});

    </script>
}



